*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--black);
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    margin: 0;
    margin-bottom: 20px;
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;

    color: var(--green);
    margin: 0;
}

h2{
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 40px;
}

h3{
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

button, a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;

}

footer{
    color: var(--white);
    background-color: var(--black);
}

.container{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a{
    text-decoration: none;
    padding: 10px 15px;    
    color: var(--black);
}

nav{
    display: flex;
}

.main-nav a:hover{
    color: var(--green);
}

button{
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-transform: lowercase;
}

button{
    padding: 6px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
}

button:hover{
    color: var(--white);
    background-color: var(--green);
}

.social{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}

.social-link:hover{
    background-color: var(--green); 
}

.social-link_github{
    background-image: url(../img/social/github.svg);
}

.social-link_vk{
    background-image: url(../img/social/vk.svg);
}

.social-link_telegram{
    background-image: url(../img/social/telegram.svg);
}

.contact{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact-link{
    display: block;
    height: 30px;
    padding-left: 42px;
    padding-top: 5px;
    text-decoration: none;
    color: var(--black);
    background-repeat: no-repeat;
    background-position: left;
}

.contact-link:hover{
    color: var(--green);
}

.contact-link_phone{
    background-image: url(../img/contacts/phone.svg);
}

.contact-link_mail{
    background-image: url(../img/contacts/email.svg);
}

.user-info img{
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 4px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../img/skills/html.svg");
}


.skill-item_css {
    background-image: url("../img/skills/css.svg");
}


.skill-item_cpp {
    background-image: url("../img/skills/c++.svg");
}


.skill-item_python {
    background-image: url("../img/skills/python.svg");
}

.main-header{
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.user-info{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.text-warper{
    max-width: 800px;
}

p{
    margin: 0;
    margin-bottom: 15px;
}

p:last-child{
    margin: 0;
}

.skills h2{
    margin: 0;
}

.skills-title{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.sort{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact{
    display: flex;
    margin: 0;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.social{
    display: flex;
    margin: 0;
    gap: 20px;
    flex-wrap: wrap;
}

.main-footer{
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-user, .skills, .interests, .contacts{
    margin: 0;
    margin-bottom: 120px;
}

.nav-btn{
    display: none;
}

@media screen and (max-width: 1024px) {
    body{
        font-size: 16px;
    }

    h1{
        font-size: 50px;
    }    

    .subtitle{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }

    button, a{
        font-size: 16px;
    }

    .user-info img{
        width: 250px;
        height: 250px;
    }
    
    .main-header, .user-info, .about-user, .skills, .interests, .contacts {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 650px) {
    body{
        font-size: 14px;
    }

    h1{
        font-size: 32px;
    }    

    .subtitle{
        font-size: 20px;
    }

    h2{
        font-size: 20px;
        margin-bottom: 30px;
    }

    button, a{
        font-size: 14px;
    }
    
    .main-header{
        flex-direction: column;
        gap: 20px;
    }

    .main-header img{
        width: 40px;
        height: 40px;
    }

    .main-nav{
        flex-direction: column;
        text-align: center;
    }
    .main-nav a{
        padding: 20px 30px;
    }

    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-btn_close {
        background-image: url(../img/close.svg);
    }
    
    .nav-btn_open {
        background-image: url(../img/burger.svg);
    }

    .main-header-warp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user-info {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }

    .user-info h1 {
        margin-bottom: 10px;
    }

    .user-info img{
        width: 150px;
        height: 150px;
    }

    .skills-title{
        margin-bottom: 30px;
    }

    .contact {
        margin-bottom: 30px;
    }

    .contact a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-header, .user-info, .about-user, .skills, .interests, .contacts {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 380px) {
    .skills-title {
        flex-direction: column;
        gap: 20px;
    }

    .sort {
        flex-direction: column;
        width: 100%;
        align-items: start;
        gap: 10px;
    }
    
    .sort button {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .skills-title {
        flex-direction: column;
        gap: 20px;
    }

    .sort {
        flex-direction: column;
        width: 100%;
        align-items: start;
        gap: 10px;
    }
    
    .sort button {
        width: 100%;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }

    .main-header, .user-info, .about-user, .skills, .interests, .contacts {
        margin-bottom: 50px;
    }
}